* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.first-wrapper {
    width: 40%;
}

.second-wrapper {
    width: 60%;
    background-color: green;
}

.image-container {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login-btn button {
    background: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid var(--border-color);
    padding: 5px;
}

.inner-wrapper {
    padding-top: 20px;
}

.user-option {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-option p {
    padding: 5px 5px;
    border: 1px solid transparent;
    margin: 0;
    cursor: pointer;
    width: 120px;
    text-align: center;
    
}

.active {
    background-color: var(--primary-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
}